{% extends "base.html"%}
{% load static %}
{% block css_file %}
  <link rel="stylesheet" href="{% static "products/offer.css" %}">
  <link rel="stylesheet" href="{% static "products/includes/header.css" %}">
{% endblock %}
{% block page_title %}
  {{ month_name|title }} OFFER
{% endblock %}

{% block content %}
  {% include "products/includes/header.html" %}
    <h1>{{ month_name|title }} offers</h1>
    {% if text is not None %}
      <h2>{{ text }}</h2>
    {% else %}
      <p class="fallback"><h2>There is no offer available for this month!</h2></p>
    {% endif %}
{% endblock %}